<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hu.supercluster.gameoflife">

    <application
        android:name=".app.App"
        android:label="Game of Life"
        android:theme="@style/Theme.Custom"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:allowBackup="true">

        <activity android:name=".app.activity.main.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>